
/*PC版型設計*/
.web-page {
	max-width: 1024px;
	margin: 0 auto;
	margin-top: 10px;
}
.header{
	background: #000;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.header img{
	margin-left: 40px;
}
.menu {
	display: flex;
	margin-right: 10px;
}
.menu a{
	display: block;
	width: 80px;
	color: #fff;
	text-align: center;
	padding: 5px;
	text-decoration: none;
}
.menu a:hover{
	background: #fff;
	color: rgb(24, 173, 214);
}

/*在PC上隱藏漢堡選單*/
.showmenu{
	display: none;
	text-decoration: none;
}

/*在 mobile 直式下變更樣式*/
@media (max-width:375px){
	.menu{
		max-height: 0px;
		overflow: hidden;
		transition: all 3s;
		position: absolute;
		z-index: 100;
		top: 44px;
		left: 0;
		right: 0;
		background: #1d1e1e;
	}
	.menu li {
		width: 33.33333%;
	}
	.menu li a{
		transition: all 1s;
	}
	.showmenu{
		display: block;
		color: #e4e5e3;
		margin: 5px;
	}
	/*jQ點擊後動態在 body 加上 class */
	.menu-show .menu{
		max-height: 200px;
	}
}

.banner{
	background-image: url(../images/header_desktop.png);
	height: 420px;
	position: relative;
}
.text-box{
	width: 460px;
	height: 150px;
	background: rgba(0,0,0,0.35);
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	margin: auto;
}
.text-box h1{
	font-size: 32px;
	color: #fff;
	text-align: center;
	padding: 20px;
}
.text-box p {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

/*在 ipad 直式下變更樣式*/
@media (max-width:768px){
	.banner{
		background-size: cover;
		height: 300px;
        background-position: center;
        background-repeat: no-repeat;
	}
	.text-box{
		width: 350px;
        height: 150px;
	}
	.text-box h1{
		font-size: 28px;
	}
}

/*在 mobile 直式下變更樣式*/
@media (max-width:375px){
	.header img{
		margin-left: 10px;
	}
	.banner{
		background-image: url(../images/header_mobile.png);
	}
	.text-box{
		width: 300px;
        height: 150px;
	}
	.text-box h1{
		font-size: 20px;
	}
}
.content-bg{
	background: #efe9e7;
	padding-top: 30px;
	padding-bottom: 30px;
}
.content-bg img{
	display: block;
	margin: auto;
}
h2{
	font-family: Microsoft JhengHei;
    font-size: 20px;
    color: #3D1101;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 30px;
}
.form-content{
	max-width: 620px;
	height: 316px;
	margin: auto;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.16);
	position: relative;
	border-top: 5px solid #FF5E45;
}
.form-content h3{
	font-family: Microsoft JhengHei;
	font-size: 18px;
	color: #3D1101;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.form-text {
	width: 285px;
	height: 138px;
	font-size: 18px;
    color: #3D1101;
	margin-left: 15px;
}
.form-data {
	margin-right: 30px;
}

.form-data .mail-input{
	width: 270px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/mail_icon.svg);
	background-repeat: no-repeat;
	margin-bottom: 10px;
	padding-left: 32px;
}
.form-data .Password-input{
	width: 270px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/password_icon.svg);
	background-repeat: no-repeat;
	padding-left: 32px;
}

.form-data p{
	color: #FF5E45;
	font-size: 14px;
	margin-top: 5px;
}

.form-data .buttom-red{
	width: 125px;
	height: 32px;
	font-family: Microsoft JhengHei;
	background: #F56C23;
	color: #FFF;
	border-radius: 3px;
	border:none;
	margin-top: 50px;
	margin-left: 140px;
}

/*在 mobile 直式下變更樣式*/
@media (max-width:375px){
	.form{
		flex-wrap: wrap;
	}
	.form-content{
		margin: 20px;
		height: auto;
	}
	.form-text,.form-data{
		width: 100%;
	}
	.form-data{
		padding: 20px;
		margin-right: 0px;
	}
}
.footer{
	background: #efe9e7;
	display: flex;
	justify-content: start;
	padding-top: 30px;
    padding-bottom: 40px;
}
.addres{
	width: 300px;
	margin-left: 40px;
}
.contact{
	width: 300px;
	margin-left: 20px;
	margin-right: 60px;
}
.addres p,.contact p{
	font-family: Microsoft JhengHei;
	color: #3D1101;
	line-height: 1.2;
	margin-right: 30px;
}

.social-media img{
	margin-bottom: 10px;
}

.social-media a{
	margin: 5px;
}
.fa-square-google-plus {
	font-size: 36px;
	color: #DB4437;
	margin-left: 110px;
}
.fa-twitter{
	font-size: 36px;
	color: #41ABE1;
}
.fa-square-facebook{
	font-size: 36px;
}

/*ipad 直式版型設計*/
@media(max-width:768px){
	.footer{
		justify-content: space-around;
	}
	.addres{
		display: none;
	}
	
}

/* mobile版型設計*/
@media(max-width:375px){
	.banner{
		background-image: url(../images/header_mobile.png);

	}
	.contact{
		display: none;
	}
	.social-media{
		margin: auto;
	}
}